#tag_search_form
{
	width: 100%;
}
#tag_search_field
{
	width:90%;
	margin: 0px auto;
}
.album_content
{
	width: 300px;
	height: 300px;
	display: block;
	background-color: #fff;
	margin: 15px;
}
.album_container
{
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
